.area1 { /* 横タブ */
    width: 80vw;
    position: fixed;
    padding-left: 13.9vw;
    margin-right: auto;
    flex-wrap: wrap;
    display: flex;
}

.area3 { /* 縦タブ */
    width: 70vw;
    margin-left: 0px;
    padding-top: 50px;
    margin-right: 0px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column; /* 縦に */
}
p.content_class{
    padding-left: 30vw;  
}
p.content_class3{
    padding-top: 0px;  
}

.tab_class {
    width: calc(100%/5);
    height: 50px;
    background-color: darkgrey;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    display: block;
    float: left;
    order: -1;
}

input[name="tab_name"] {
    display: none;
}

input:checked + .tab_class {
    background-color: cadetblue;
    color: aliceblue;
}

.content_class {
    display: none;
    width: 100%;
}
.content_class3 {
    display: none;
    width: 100%;
    padding-left: 10px;
}

.detailsScreen{
    color: #fff;
    border-radius: 5px;
    background-color: #4676D7;
    padding: 8px 16px;
    font-size: 16px;
}

.tab-switch:checked + .tab_class + .content_class {
    width:  100px/* calc(100% - 150px);  ボタン幅 */
    height: 100%;
    padding: 15px;
    /*border-left: 1px solid Gray;*/
    display: block;
}

input:checked + .tab_class + .content_class {
    display: inline;
    padding-left: 100px;
}

input:checked + .tab_class + .content_class3 { /* 縦タブの文字表示 */
    display: block;
    padding-left: 200px;
    padding-top: auto;
}

body{
    margin: 0px;
    padding-left: 0px;
    padding-top: 0px;
    /* font-family: arial, sans-serif; 
    font-size: 10pt; */
    line-height: normal;
}



