{% extends 'myApp/base.html' %}
{% block title %}新規登録{% endblock %}
{% block content %}

{% if AccountCreate %}
<h1>登録完了!</h1>

{% else %}

<form action='{% url "addUser" %}' enctype="multipart/form-data" method="post" autocomplete="off">
  {% csrf_token %}
  <h1>新規登録</h1>
  <div class="create-frame">
    <div class="create-box">
    {{ form.non_field_errors }}
      <table>
	<!-- {{ userForm.as_table }} -->
	<tr>
	  <td>{{ account_form.username.label }}</td>
	  <td>{{ account_form.username }}</td>
	  {{ account_form.username.errors }}
	</tr>
	<tr>
	  <td colspan="3" align="center" class="username_note">半角アルファベット、半角数字、@/./+/-/_ で150文字以下にしてください。</td>
	  </tr>
	<tr>
	  <td>氏名*</td>
	  <td>{{ add_account_form.last_name.label }}{{ add_account_form.last_name }}</td>
	  <td>{{ add_account_form.first_name.label }}{{ add_account_form.first_name }}</td>
	  {{ add_account_form.last_name.errors }}
	  {{ add_account_form.first_name.errors }}
	</tr>
	<tr>
	  <td>{{ account_form.email.label }}</td>
	  <td>{{ account_form.email }}</td>
	  {{ account_form.email.errors }}
	</tr>
	<tr>
	  <td>パスワード*</td>
	  <td>{{ account_form.password }}</td>
	  {{ account_form.password.errors }}
	</tr>
	<tr>
	  <td>{{ add_account_form.birth.label }}</td>
	  <td>{{ add_account_form.birth }}</td>
	  {{ add_account_form.birth.errors }}
	</tr>
	<tr>
	  <td>{{ add_account_form.school_name.label }}</td>
	  <td>{{ add_account_form.school_name }}</td>
	  {{ add_account_form.school_name.errors }}
	</tr>
	<tr>
	  <td>{{ add_account_form.school_major.label }}</td>
	  <td colspan="2">{{ add_account_form.school_major }}</td>
	  {{ add_account_form.school_major.errors }}
	</tr>
	<tr>
	  <td>{{ add_account_form.school_grade.label }}</td>
	  <td>{{ add_account_form.school_grade }}</td>
	  {{ add_account_form.school_grade.errors }}
	</tr>
	<tr>
	  <td>{{ add_account_form.sexuality.label }}</td>
	  <td>{{ add_account_form.sexuality }}</td>
	  {{ add_account_form.sexuality.errors }}
	</tr>
      </table>
    </div>
    <p>━━━━━ *は必須項目です。━━━━━</p>
    <div class="create-box">
      <table>
	<tr>
	  <td>{{ add_account_form.picture.label }}</td>
	  <td>{{ add_account_form.picture }}</td>
	  {{ add_account_form.picture.errors }}
	</tr>
	<tr>
	  <td>{{ add_account_form.insta_ID.label }}</td>
	  <td>{{ add_account_form.insta_ID }}</td>
	  {{ add_account_form.insta_ID.errors }}
	</tr>
	<tr>
	  <td>{{ add_account_form.twitter_ID.label }}</td>
	  <td>{{ add_account_form.twitter_ID }}</td>
	  {{ add_account_form.twitter_ID.errors }}
	</tr>
	<tr>
	  <td>{{ add_account_form.SNS_name1.label }}</td>
	  <td>{{ add_account_form.SNS_name1 }}</td>
	  {{ add_account_form.SNS_name1.errors }}
	</tr>
	<tr>
	  <td>{{ add_account_form.SNS_ID1.label }}</td>
	  <td>{{ add_account_form.SNS_ID1 }}</td>
	  {{ add_account_form.SNS_ID1.errors }}
	</tr>
	<tr>
	  <td>{{ add_account_form.SNS_name2.label }}</td>
	  <td>{{ add_account_form.SNS_name2 }}</td>
	  {{ add_account_form.SNS_name2.errors }}
	</tr>
	<tr>
	  <td>{{ add_account_form.SNS_ID2.label }}</td>
	  <td>{{ add_account_form.SNS_ID2 }}</td>
	  {{ add_account_form.SNS_ID2.errors }}
	</tr>
	<tr>	  
	  <td>例 : </td>
	</tr>
	<tr>
	  <td>その他SNSの種類</td>
	  <td>A3!</td>
	</tr>
	<tr>
	  <td>その他SNSのID </td>
	  <td>ABC123cd</td>
	</tr>
      </table>
    </div>
  </div>

  
  <div class="center">
    <a href='{% url "new_register" %}' class="btn">戻る</a>
    <input class="btn" type="submit" value="マイページ登録">
  </div>
</form>

{% endif %}

{% endblock %}
