{% load static %}
<!DOCTYPE html> 
<html lang="ja">

　<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
    <link rel="stylesheet" href="{% static 'css/details-screen.css' %}">		
　</head>

  <body>
    <div class = "Heart-Inner-Box-Item-LikesIcon">
      <i class = "far fa-heart Heart-Inner-Box-LikesIcon-fa-heart"></i>	
    </div>

    <script type = "text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type = "text/javascript" src="{% static 'js/details-screen.js' %}"></script>
    
    <input type="button" value="戻る" onClick="location.href='http://127.0.0.1:8000/topScreen'">
    
  </body>
</html>
