{% extends 'myApp/base.html' %}
{% block title %}詳細情報{% endblock %}
{% block content %}
<h1>ユーザの詳細情報</h1>
<div class="detail-frame">
  <div class="detail-box">
    <img src="/media/{{ userinfoDetail.picture }}" width="25%" height="25%" class="image">
  </div>
  <div class="detail-box">
    <table>
      <tr>
	<td>ユーザー名：</td>
	<td>{{userinfoDetail.user.username}}</td>
      </tr>
      <tr>
	<td>メールアドレス：</td>
	<td>{{userinfoDetail.user.email}}</td>
      </tr>
      <tr>     
	<td>名前：</td>
	<td>{{userinfoDetail.last_name}}{{userinfoDetail.first_name}}</td>
      </tr>
      <tr>
	<td>学校名：</td>
	<td>{{userinfoDetail.school_name}}</td>
      </tr>
      <tr>
	<td>学年：</td>
	<td>{{userinfoDetail.school_grade}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="center">
  <a href="javascript:history.back()" class="btn">戻る</a>
</div>
{% endblock %}
