{% extends 'myApp/base_user.html' %}
{% load static %} 
{% block title %}友達申請一覧{% endblock %}
{% block content %}
<h1>友達申請一覧</h1>

{% for alluser in req_friend %}
<div class="My-content">
  <img src="/media/{{ alluser.picture }}" width="25%" height="25%" class="icon-image">
  <div class="My-box">
    <p>{{ alluser }}</p>
  </div>
  <div class="friend-box">
    <div class="friend-box-btn">
      <a href="{% url 'details_screen' alluser.id userinfo.id %}" class="btn-user">詳細</a>
    </div>
    <div class="friend-list">
      <a href='{% url "friend_allow" userinfo.id  alluser.id %}' class="friend-btn-user">許可</a>
      <a href='{% url "friend_delete" userinfo.id  alluser.id %}' class="friend-btn-user">削除</a>
    </div>
  </div>
</div>

{% endfor %}
{% endblock %}
