{% extends 'myApp/base_user.html' %}
{% load static %} 
{% block title %}いいね一覧{% endblock %}
{% block content %}
<h1>いいね一覧</h1>
{% for heart in userdetail %}
<div class="My-content">
  <img src="/media/{{ heart.heart_user.picture }}" width="25%" height="25%" class="icon-image">
  <div class="My-box">
    <p>{{ heart.heart_user }}</p>
  </div>
  <div class="My-box">
    <p>学年：{{ heart.heart_user.get_school_grade_display }}</p>     
    <p>性別 : {{ heart.heart_user.sexuality }}</p>
  </div>
  <div class="My-box-btn">
    <a href="{% url 'details_screen' heart.heart_user.id user.id|add:"-1" %}" class="btn-user">詳細</a>
  </div>
</div>
{% endfor %}
{% endblock %}
