{% extends 'myApp/base_user.html' %}
{% block title %}マイページ{% endblock %}
{% block content %}
<h1>マイページ</h1>
<div class="detail-frame">
  
  <div class="mp-box">
    <img src="/media/{{ userinfo.picture }}" width="25%" height="25%" class="image">
  </div>
  <div class="mp-box">
    <p> {{ userinfo.user.username }}</p>
  </div>
  <div class="My-box-btn">
    <a href="{% url 'Mypage_update' userinfo.id %}" class="btn-user">マイページ更新</a>
  </div>
  <div class="Mypage-frame">
    <div class="Mypage-box">
      <img src="/media/{{ userinfoMypage.photo1 }}" width="25%" height="25%" class="Mypage_img"><img src="/media/{{ userinfoMypage.photo2 }}" width="25%" height="25%" class="Mypage_img"><img src="/media/{{ userinfoMypage.photo3 }}" width="25%" height="25%" class="Mypage_img">
    </div>
    <div class="Mypage-box">
      <img src="/media/{{ userinfoMypage.photo4 }}" width="25%" height="25%" class="Mypage_img"><img src="/media/{{ userinfoMypage.photo5 }}" width="25%" height="25%" class="Mypage_img"><img src="/media/{{ userinfoMypage.photo6 }}" width="25%" height="25%" class="Mypage_img">
    </div>
  </div>

  <hr>
  <p>プロフィール</p>
  <p>学年：{{ userinfo.school_grade }}年生</p> 
  <p>性別：{{ userinfo.sexuality }}</p>

  <hr>

  <p>{{ userinfoMypage.profile_text | linebreaksbr }}</p>

  <hr>
  <p>SNSアカウント情報</p>
  <p>他のユーザーには表示されません</p>
  <p>{{ userinfo.insta_ID }}</p>
  <p>{{ userinfo.twitter_ID }}</p>
  <p>{{ SNS_name1 }}</p>
  <p>{{ SNS_ID1 }}</p>
  <p>{{ SNS_name2 }}</p>
  <p>{{ SNS_ID2 }}</p>
</div>
<div class="center">
  <a href="javascript:history.back()" class="btn">ホーム</a>
</div>


{% endblock %}
