{% load static %}
<html>
  <head>
    <title>ログイン</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/login_user.css' %}">
  </head>
  
  <body>
    <div class="new_register">
      <image src="/media/appimg/ivy_top_top.png" class="login_img">
    </div>
    
    <div class="new_register_form">
      <div class="new_register_action">
	<ul>
	<li><a href="{% url 'showCreateForm' %}" class="btn">新規登録</a></li>
	<li><a href="{% url 'login_user' %}" class="btn">ログイン</a></li>
	</ul>
      </div>
    </div>
  </body>
</html>
