{% extends 'myApp/base.html' %}
{% block title %}趣味選択画面{% endblock %}
{% block content %}

<h1>趣味を選択する</h1>

<form method="POST" action="{% url 'login_user' %}">
  {% csrf_token %}
  <div class="create-frame">
    <div class="create-box">

      <p>━━━━━ *は必須項目です。━━━━━</p>
      
      <label for="hobby1">１番好きな趣味*</label>
      <tr>
	<td>{{ add_account_form.hobby1.label }}</td>
	<td>{{ add_account_form.hobby1 }}</td>
	{{ add_account_form.hobby1.errors }}
      </tr>
      <label for="hobby2">２番目に好きな趣味</label>
      <tr>
	<td>{{ add_account_form.hobby2.label }}</td>
	<td>{{ add_account_form.hobby2 }}</td>
	{{ add_account_form.hobby2.errors }}
      </tr>
      <label for="hobby3">３番目に好きな趣味</label>
      <tr>
	<td>{{ add_account_form.hobby3.label }}</td>
	<td>{{ add_account_form.hobby3 }}</td>
	{{ add_account_form.hobby3.errors }}
      </tr>
      
    </div>
  </div>
</form>

<div class="center">
  <a href="{% url 'showUsers' %}" class="btn">ユーザ一覧へ</a>
</div>
{% endblock %}
