{% extends 'myApp/base_user.html' %}
{% load static %}
{% block title %}趣味選択画面{% endblock %}
{% block content %}

<h1>好きなカテゴリーを3つ選択してください！</h1>


<form method="post" action='{% url "add_selectHobby" userinfo.id %}' enctype="multipart/form-data" autocomplete="off">
  
  {% csrf_token %}
  
  <div class="create-frame">
    <div class="create-box">
      <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js?ver=1.11.3'></script>

      <table>
	<tr>
	  <td>{{ favorite_hobby.hobby1.label }}</td>
	  <td>{{ favorite_hobby.hobby1 }}</td>
	  {{ favorite_hobby.hobby1.errors }}
	</tr>
	
	<tr>
	  <td>{{ favorite_hobby.hobby2.label }}</td>
	  <td>{{ favorite_hobby.hobby2 }}</td>
	  {{ favorite_hobby.hobby2.errors }}
	</tr>
	
	<tr>
	  <td>{{ favorite_hobby.hobby3.label }}</td>
	  <td>{{ favorite_hobby.hobby3 }}</td>
	  {{ favorite_hobby.hobby3.errors }}
	</tr>
      </table>
    </div>
  </div>

  <div class="center">
    <a href="javascript:history.back()" class="btn">戻る</a>
    <input class="btn" type="submit" value="登録">
  </div>
</form>

{% endblock %}

