{% extends 'myApp/base_user.html' %}
{% block title %}ホーム{% endblock %}
{% block content %}


<div class="friend-content">
  <div class="tabs">
    <input id="tab1" type="radio" name="tab_item" checked>
    <label class="tab_item" for="tab1">趣味</label>
    
    <input id="tab2" type="radio" name="tab_item">
    <label class="tab_item" for="tab2">性格</label>
    
    <input id="tab3" type="radio" name="tab_item">
    <label class="tab_item" for="tab3">大学</label>

    <input id="tab4" type="radio" name="tab_item">
    <label class="tab_item" for="tab4">専攻</label>
    
    <div class="tab_content" id="tab1_content">
      <div class="tab_content_description">
	<p class="c-txtsp">
	  趣味表示
	  
	  <div class="My-content">
	    <img src="/media/{{ userinfo.picture }}" width="25%" height="25%" class="icon-image">

	    <div class="My-box">
	      <p>{{ user.username }}</p>
	    </div>

	    <div class="My-box">
	      <p>学年 : {{ userinfo.get_school_grade_display }}</p>      
	      <p>性別 : {{ userinfo.sexuality }}</p>
	    </div>
	    
	    <div class="My-box-btn">
	      <a href="{% url 'Mypage' user.id|add:"-1" %}" class="btn-user">マイページ</a>
	    </div>
	    
	  </div>
	  <hr>
	</p>
      </div>
    </div>
    
    <div class="tab_content" id="tab2_content">
      <div class="tab_content_description">
	<p class="c-txtsp">
	  性格表示
	  <div class="My-content">
	    <img src="/media/{{ userinfo.picture }}" width="25%" height="25%" class="icon-image">
	    <div class="My-box">
	      <p>{{ user.username }}</p>
	    </div>
	    <div class="My-box">
	      <p>学年 : {{ userinfo.get_school_grade_display }}</p>     
	      <p>性別 : {{ userinfo.sexuality }}</p>
	    </div>
	    <div class="My-box-btn">
	      <a href="{% url 'Mypage' user.id|add:"-1" %}" class="btn-user">マイページ</a>
	    </div>
	  </div>
	  <hr>
	</p>
      </div>
    </div>
    
    <div class="tab_content" id="tab3_content">
      <div class="tab_content_description">
	<p class="c-txtsp">
	  <div class="My-content">
	    <img src="/media/{{ userinfo.picture }}" width="25%" height="25%" class="icon-image">
	    <div class="My-box">
	      <p>{{ user.username }}</p>
	    </div>
	    <div class="My-box">
	      <p>学年 : {{ userinfo.get_school_grade_display }}</p>      
	      <p>性別 : {{ userinfo.sexuality }}</p>
	    </div>
	    <div class="My-box-btn">
	      <a href="{% url 'Mypage' user.id|add:"-1" %}" class="btn-user">マイページ</a>
	    </div>
	  </div>
	  <hr>
	  {% for user in userschool_random %}
	  <div class="My-content">
	    <img src="/media/{{ user.picture }}" width="25%" height="25%" class="icon-image">

	    <div class="My-box">
	      <p>{{ user.user.username }}</p>
	    </div>

	    <div class="My-box">
	      <p>学年 : {{ user.get_school_grade_display }}</p>
	      <p>性別 : {{ user.sexuality }}</p>
	    </div>
	    <div class="My-box-btn">
	      <a href="{% url 'details_screen' user.id userinfo.id %}" class="btn-user">詳細</a>
	    </div>
	  </div>
	  {% endfor %}
	</p>
      </div>
    </div>
    
    <div class="tab_content" id="tab4_content">
      <div class="tab_content_description">
	<p class="c-txtsp">
	  <div class="My-content">
	    <img src="/media/{{ userinfo.picture }}" width="25%" height="25%" class="icon-image">
	    <div class="My-box">
	      <p>{{ user.username }}</p>
	    </div>
	    <div class="My-box">
	      <p>学年 : {{ userinfo.get_school_grade_display }}</p>
	      <p>性別 : {{ userinfo.sexuality }}</p>
	    </div>
	    <div class="My-box-btn">
	      <a href="{% url 'Mypage' user.id|add:"-1" %}" class="btn-user">マイページ</a>
	    </div>
	  </div>
	  
	  <hr>

	  {% for user in usermajor_random %}
	  <div class="My-content">
	    <img src="/media/{{ user.picture }}" width="25%" height="25%" class="icon-image">

	    <div class="My-box">
	      <p>{{ user.user.username }}</p>
	    </div>

	    <div class="My-box">
	      <p>学年 : {{ user.get_school_grade_display }}</p>     
	      <p>性別 : {{ user.sexuality }}</p>
	    </div>
	    <div class="My-box-btn">
	      <a href="{% url 'details_screen' user.id userinfo.id %}" class="btn-user">詳細</a>
	    </div>
	  </div>
	  {% endfor %}
	  
	</p>
      </div>
    </div>

  </div>
</div>

{% endblock %}
