
.Heart-Inner-Box-Item-LikesIcon-fa-heart{
 font-size: 60px;
}
.Heart-Inner-Box-Item-LikesIcon-fa-heart.heart{
 animation: heartAnimation 0.2s;
 color: #e2264d;
}
.HeartAnimation {
  display: inline-block;
  background-position: right;
  -webkit-animation-name: heartBlast;
  animation-name: heartBlast;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(28);
  animation-timing-function: steps(28);
}

@-moz-keyframes heartAnimation {
  0% {
/* アイコンサイズをもとのより小さくする */
    transform: scale(0.5);
  }
  10% {
    transform: scale(0.7);
  }
  30% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
/* もとのサイズに戻す */
    transform: scale(1);
  }
}
@-webkit-keyframes heartAnimation {
  0% {
/* アイコンサイズをもとのより小さくする */
    transform: scale(0.5);
  }
  10% {
    transform: scale(0.7);
  }
  30% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
/* もとのサイズに戻す */
    transform: scale(1);
  }
}
@-o-keyframes heartAnimation {
  0% {
/* アイコンサイズをもとのより小さくする */
    transform: scale(0.5);
  }
  10% {
    transform: scale(0.7);
  }
  30% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
/* もとのサイズに戻す */
    transform: scale(1);
  }
}
@keyframes heartAnimation {
  0% {
/* アイコンサイズをもとのより小さくする */
    transform: scale(0.5);
  }
  10% {
    transform: scale(0.7);
  }
  30% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
/* もとのサイズに戻す */
    transform: scale(1);
  }
}
