/* 共通 */
h1 {
     text-align: center;
}
.center {
     text-align: center;
}
.btn {
    margin: 30px 8px;;
    color: #000;
    background-color: #b0c4de;
    border-bottom: 5px solid #8d9eb3;
}

.btn:hover {
    margin-top: 33px;
    color: #000;
    background: #b0c4de;
    border-bottom: 2px solid #8d9eb3;
}

/* create.html */
.create-frame {
    border: solid;
    padding: 50px;
    margin: auto;
    width:750px;
    text-align: center;
}
.create-box {
    display: inline-block;
    width: 700px;
    padding:20px;
    vertical-align: middle;
}
.create-box td {
    padding:10px;
}
.username_note {
    font-size:2px;
}

/* users.html */
.users-table {
    border-collapse: collapse;
    margin: auto;
}
.users-table tr td {
    border: solid 1px;
   padding: 5px;
}
/* detail.html */
.image {
    width:200px;
    height:200px;
    object-fit:cover;
    border-radius:50%;
}
.detail-frame {
    border: solid;
    padding: 50px;
    margin: auto;
    width:700px;
    text-align: center;
}
.detail-box {
    display: inline-block;
    padding:20px;
    vertical-align: middle;
}


/* Mypage */
.Mypage-box {
     display: inline-block;
}
.Mypage_img {
    width:150px;
    height:180px;
    object-fit:cover;
}
    
