a {	
   text-decoration: none;
   color: #4b4b4b;
}

/* ヘッダー */
header {
    width: 100%;
    padding: 10px 4% 10px;
    background-color: #ffb3b3;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
}
.page-body {
    padding-top:120px;
    background-color:#red;
}
.header-title-box {

}
.header-title {
}
.header-ul {
   list-style: none;
   margin: 0;
   display: flex;
}
.header-li {
   margin: 0 0 0 15px;
   font-size: 14px;
}
nav {
   margin: 0 0 0 auto;
}

/* メニューバー */
.menu-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #ffd1d1;
    border-radius: 50%;
}
.menu-btn span,.menu-btn span:before,.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check {
    display: none;
}

.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 0px 20px;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}
.menu-content {
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #ffd1d1;
    transition: all 0.5s;/*アニメーション設定*/
}
#menu-btn-check:checked ~ .menu-content {
    right: 70%;/*メニューを画面内へ*/
}



/* ホーム */

.area1 { /* 横タブ */
    width: 80vw;
    position: fixed;
    padding-left: 13.9vw;
    margin-right: auto;
    flex-wrap: wrap;
    display: flex;
}

.area3 { /* 縦タブ */
    width: 70vw;
    margin-left: 0px;
    padding-top: 50px;
    margin-right: 0px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column; /* 縦に */
}
p.content_class{
    padding-left: 30vw;  
}
p.content_class3{
    padding-top: 0px;  
}

.tab_class {
    width: calc(100%/5);
    height: 50px;
    background-color: darkgrey;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    display: block;
    float: left;
    order: -1;
}

input[name="tab_name"] {
    display: none;
}

input:checked + .tab_class {
    background-color: cadetblue;
    color: aliceblue;
}

.content_class {
    display: none;
    width: 100%;
}
.content_class3 {
    display: none;
    width: 100%;
    padding-left: 10px;
}

.detailsScreen{
    color: #fff;
    border-radius: 5px;
    background-color: #4676D7;
    padding: 8px 16px;
    font-size: 16px;
}

.tab-switch:checked + .tab_class + .content_class {
    width:  100px/* calc(100% - 150px);  ボタン幅 */
    height: 100%;
    padding: 15px;
    /*border-left: 1px solid Gray;*/
    display: block;
}

input:checked + .tab_class + .content_class {
    display: inline;
    padding-left: 100px;
}

input:checked + .tab_class + .content_class3 { /* 縦タブの文字表示 */
    display: block;
    padding-left: 200px;
    padding-top: auto;
}

body{
    margin: 0px;
    padding-left: 0px;
    padding-top: 0px;
    /* font-family: arial, sans-serif; 
    font-size: 10pt; */
    line-height: normal;
}



