body{
    margin: 0px;
    padding-left: 0px;
    padding-top: 100px; 
    line-height: normal;
}

a {	
   text-decoration: none;
   color: #4b4b4b;
}

h1 {
     text-align: center;
}
.center {
     text-align: center;
}
.btn {
    margin: 30px 8px;;
    color: #000;
    background-color: #b0c4de;
    border-bottom: 5px solid #8d9eb3;
}

.btn:hover {
    margin-top: 33px;
    color: #000;
    background: #b0c4de;
    border-bottom: 2px solid #8d9eb3;
}


/* ヘッダー */
header {
    width: 100%;
    padding: 10px 4% 10px;
    background-color: #ffb3b3;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
}

.header-title-box {

}
.header-title {
}
.header-ul {
   list-style: none;
   margin: 0;
   display: flex;
}
.header-li {
   margin: 0 0 0 15px;
   font-size: 14px;
}
nav {
   margin: 0 0 0 auto;
}

/* メニューバー */
.menu-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #ffd1d1;
    border-radius: 50%;
}
.menu-btn span,.menu-btn span:before,.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check {
    display: none;
}

.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 0px 20px;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}
.menu-content {
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #ffd1d1;
    transition: all 0.5s;/*アニメーション設定*/
}
#menu-btn-check:checked ~ .menu-content {
    right: 70%;/*メニューを画面内へ*/
}




/* Mypageへ */
.My-content {
    padding: 20px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.My-box {
    display: inline-block;
    width: 150px;
    padding-left: 30px;
}
.My-box-btn {
    display: inline-block;
    width: 200px;
    padding-left: 30px 0;
}

.btn-user,a.btn-user {
  color: #fff;
  background-color: #add8e6;
  font-weight: 700;
  line-height: 1.5;
  padding: 1rem 4rem;
  cursor: pointer;
  border-radius: 25vh;
  text-decoration: none;
}
.btn-user:hover,a.btn-user:hover {
    color: #fff;
    opacity: 0.75;
}

.friend-content {
}

/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/4);
  border-bottom: 3px solid  #ffb3b3;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#tab1:checked ~ #tab1_content,
#tab2:checked ~ #tab2_content,
#tab3:checked ~ #tab3_content,
#tab4:checked ~ #tab4_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #ffb3b3;
  color: #fff;
}

/* 大学 */
.detail-box {

}
.icon-image {
     width:150px;
    height:150px;
    object-fit:cover;
    border-radius:50%;
}




/* Mypage */
.detail-frame {
    padding: 20px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.image {
    width:200px;
    height:200px;
    object-fit:cover;
    border-radius:50%;
}
.mp-box {
    display:inline-block;
    width:200px;
    margin:30px;
}
/*画像6枚*/
.Mypage-frame {
    margin: auto;
    text-align: center;
}
.Mypage-box {
     display: inline-block;
}
.Mypage_img {
    width:150px;
    height:180px;
    object-fit:cover;
}
/*編集ボタン*/
.My-box-btn {
    display: inline-block;
    width:200px;
    margin:30px 0;
}
.btn-user,a.btn-user {
  color: #fff;
  background-color: #add8e6;
  font-weight: 700;
  line-height: 1.5;
  padding: 1rem 4rem;
  cursor: pointer;
  border-radius: 25vh;
  text-decoration: none;
}
.btn-user:hover,a.btn-user:hover {
    color: #fff;
    opacity: 0.75;
}


/* いいね */

.Heart-Inner-Box-Item-LikesIcon-fa-heart{
 font-size: 30px;
}
.Heart-Inner-Box-Item-LikesIcon-fa-heart.heart{
 animation: heartAnimation 0.2s;
 color: #e2264d;
}
.HeartAnimation {
  display: inline-block;
  background-position: right;
  -webkit-animation-name: heartBlast;
  animation-name: heartBlast;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(28);
  animation-timing-function: steps(28);
}

@-moz-keyframes heartAnimation {
  0% {
/* アイコンサイズをもとのより小さくする */
    transform: scale(0.5);
  }
  10% {
    transform: scale(0.7);
  }
  30% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
/* もとのサイズに戻す */
    transform: scale(1);
  }
}
@-webkit-keyframes heartAnimation {
  0% {
/* アイコンサイズをもとのより小さくする */
    transform: scale(0.5);
  }
  10% {
    transform: scale(0.7);
  }
  30% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
/* もとのサイズに戻す */
    transform: scale(1);
  }
}
@-o-keyframes heartAnimation {
  0% {
/* アイコンサイズをもとのより小さくする */
    transform: scale(0.5);
  }
  10% {
    transform: scale(0.7);
  }
  30% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
/* もとのサイズに戻す */
    transform: scale(1);
  }
}
@keyframes heartAnimation {
  0% {
/* アイコンサイズをもとのより小さくする */
    transform: scale(0.5);
  }
  10% {
    transform: scale(0.7);
  }
  30% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
/* もとのサイズに戻す */
    transform: scale(1);
  }
}
